{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>지트폴리오</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'jitforlio/css/style.css' %}">
    </head>

    <body>
        <h1>jitforlio</h1>

    </body>
        <div class="header">
            <h1>지윤쓰 포트폴리오</h1>
        </div>
        <div= class="main">
            <p>메인부분</p>
            <a href="https://www.youtube.com/channel/UCLNgDW2W4yAdD1FwAuo6ueQ">Youtube</a>
            

        </div>
        <div class="footer">
            <h3> email = wldbs1417123@naver.com</h6>
            <h3>   instagram = ji.youth </h6>

        </div>





</html>