{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Visual Design</title>
        <link rel="stylesheet" type="text/css" href="{% static 'jitforlio/css/style.css' %}">
        
    </head>

    <body>
        <h1>jitforlio</h1>

    </body>
        <div class="header">
            <h1>Poster design</h1>
        </div>
        <div= class="main">
            <p>태연 앨범아트 Redesign</p>
            
            

        </div>
        <div class="footer">
            <h3> Phone number : +82033062471 </h6>

        </div>





</html>