{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Visual Design</title>
        <link rel="stylesheet" type="text/css" href="{% static 'jitforlio/css/style.css' %}">
        
    </head>

    <body>
        <h1>jitforlio</h1>

    </body>
        <div class="header">
            <h1>Poster design</h1>
        </div>
        <div id="main">
            <p>태연 앨범아트 Redesign</p>
            <p>내용내용내내내<strong><span style="color:red">강조</span></strong>내내내ㅐ내내내내내내내내용<br>
            <em>이탤릭췌</em> <br>
            <strong>볼드체</strong>
            </p>    
            <!--<ul> unordered list-->
            <ol> <!--ordered list-->
                <li>할일1</li>
                <li>할일2</li>
                <li>할일3</li>
            </ol>
            
            <a href="{% url 'home' %}" ><img style="width: 500px;" src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/e35/30085213_434372540356676_374130937547456512_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=gHGTTr4-cVcAX--4smB&oh=1cd0d81d3ac0df6abd31dccbb877ecaf&oe=5EA7856F"></a>

            <img style="width: 500px;" src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/e35/30085213_434372540356676_374130937547456512_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=gHGTTr4-cVcAX--4smB&oh=1cd0d81d3ac0df6abd31dccbb877ecaf&oe=5EA7856F"> <!--닫을 필요가 없음-->
            <img style="width: 500px;" src="{%static 'dogsled.jpg' %}">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FYz_rkzQn2Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                비디오를 불러올 수 없습니다.
            </video>


        </div>
        <div class="footer">
            <h3> Phone number : +82033062471 </h6>

        </div>





</html>