.header{
    text-align: center;
    background-color: aquamarine;
    color: violet;
    height: 70px;
    width: 600px;
}
.main{
    text-align: center;
    background-color: rebeccapurple;
}
.footer{
    text-align: center;
    background-color: salmon;
    color: steelblue;
}

a{
    color: red;}