*{
    background-color: rgb(253, 255, 231);
    box-sizing: border-box;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: chartreuse;
    background-color: chocolate;
}

ul{
    margin:0;
    padding: 0;
}
li{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

header{
    text-align: center;
    background-color: rgb(0, 255, 170);
    color: violet;
    height:200px;
    border-radius: 10px 10px 10px 10px;
    border-color: darkcyan;
    border-style: dotted;
    border-width: 5px;
}

.header{
    text-align: center;
    height:200px;
    background-color: chocolate;
}



section{
    display:flex;
    text-align:center;
    height:700px;
    background-color: rebeccapurple;
    margin: 50px auto;
    justify-content: space-between;
    align-items: flex-start;
}

nav{
    background-color: darkgray;
    width: 30%;
    height: 100px;
}

aside{
    background-color: darkgreen;
    width: 10%;
    height: 100px;
}


article{
    background-color: rgb(11, 129, 184);
    width: 20%;
    height: 100px;
}

footer{
    text-align: center;
    height:300px;
    background-color: rgb(211, 114, 250);
    color: steelblue;
}

a{
    color: rgb(0, 132, 255);}